@charset "UTF-8";
@import url(riset.css);

html {
  scroll-behavior: smooth
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: bisque;
}

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

p {
  line-height: 1.6;
  letter-spacing: .1em;
}

.site-title {
  display: flex;
  height: 72px;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex; 
}

.nav-item {
  margin-right: 50px;
}

.burger-btn {
  display: none;
}

.fv{
  height: 90vh;
  background-color:#141414;
  background-image: url(../image/tree-736877_1280.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.9;
}

.main-copy{
  font-size: 64px;
  font-weight: bold;
  color: bisque;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-top: 64px;
}

.about-inner {
  display: flex;
  gap: 48px;
  margin-top: 32px;
}

.about-img img {
  width: 320px;
  height: 480px;
  box-shadow: 0 0 16px rgba(0,0,0,0.5);
}

.text_about {
  flex: 1;
  margin: 0 auto;
}

h3 {
 font-size: 20px;
 font-weight: normal;
 margin-top: 24px;
 padding: 0 16px;
}

.sub-text {
  margin-top: 16px;
  padding: 0 16px;
}

.skills-inner {
  display: flex;
  margin-top: 32px;
  justify-content: space-around;
}

h4 {
  font-size: 20px;
  text-align: center;
}

.skills_text {
  width: 200px;
  margin: 16px auto 0;
}

.works-inner {
  margin-top: 32px;
}

.works-inner li {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.works-inner li:nth-child(2) {
  flex-direction: row-reverse;
}

.works-inner > li> img {
  width: 50%;
  height: 300px;
  box-shadow: 0 0 16px rgba(0,0,0,0.5);
}

.works_text {
  flex: 1;
  padding: 16px;
}

h5 {
  font-size: 20px;
  transition: color .3s;
  border-bottom: 1px solid #333;
}

h5:hover {
  color: rgb(199, 107, 79);
}

.link {
  font-weight: bold;
  display: inline-block;
  background: rgb(199, 107, 79);
  padding: 8px 16px;
  border-radius: 45px;
  transition: opacity .3s;
}

.link:hover {
  opacity: .7;
}

.contact-inner {
  font-size: 24px;
  text-align: center;
  padding: 16px;

}

footer {
  text-align: center;
  padding: 24px;
  border-top: 2px dashed #333;
}

.bi {
  display: block;
  font-size: 40px;
  color: #333;
  position: fixed;
  right: 10px;
  bottom: 10px;
}


@media (max-width: 768px) {
  button {
    all: unset;
    cursor: pointer;
    color: inherit;
    font: inherit;
  }
  
  /* button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
  } */
  
  
  /* ------------------ */
  /* humberger-menu */
  /* ------------------ */
  .burger-btn {
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
    border: none;
  }
  
  .bar{
    width: 20px;
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
  }
  
  .bar_top {
    top: 10px;
  }
  
  .bar_mid {
    top: 50%;
    transform: translate(-50%,-50%);
  }
  
  .bar_bottom {
    bottom: 10px;
  }
  
  .burger-btn.close .bar_top {
    transform: translate(-50%,10px) rotate(45deg);
    transition: transform .3s;
  }
  
  .burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity .3s;
  }
  .burger-btn.close .bar_bottom {
    transform: translate(-50%,-8px) rotate(-45deg);
    transition: transform .3s;
  }
  
  .nav-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform .3s;
    z-index: 2;
    
  }
  
  .nav-wrapper.slide-in {
    transform: translateX(0);
  }
  
  .header-nav {
    width: 100%;
    height: 100%;
    background-color: bisque;
    z-index: 2;
  }
  
  .nav-list {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  
  .nav-item {
    margin-right: 0;
    margin-bottom: 40px;
  }
  
  .nav-wrapper.fade {
    visibility: visible;
    opacity: 1;
  }

  .fv{
    height: 72vh;
    background-position: 70% 0;
  }
  
  .main-copy{
    font-size: 48px;
  }

  h2 {
    margin-top: 48px;
  }

  .about-img {  
    text-align: center;
    margin-top: 32px;
  }

  .about-inner {
    display: block;
  }

  .skills-inner {
    display: block;
    text-align: center;
  }

  .works-inner li{
    display: block;
  }

  .works-inner > li> img {
    width: 100%;
  }

  .works_text {
    width: 100%;
    /* padding: 16px; */
  }

  
    

  
  
  
  
  
}

   


  
 
